@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Outfit:wght@200&family=Roboto:wght@100&display=swap');

$primary-font: 'Outfit', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$main-font: 'Roboto', sans-serif;

body {
    font-family: $main-font;
}

.header-title {
    text-align: center;
}

.charity-show-header {
    font-family: $primary-font;
}

.charity-tile-link {
    text-decoration: none;
}

.charity-tile-header {
    font-family: $primary-font;
    color: #444;
}

.title {
    font-family: $secondary-font;
}

.data-header {
    font-family: $primary-font;
}

.grant-title {
    font-family: $primary-font;
}


.secondary-font {
    font-family: $secondary-font;
}