.charity-index-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.charity-index-tile {
    width: 26vw;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #EEE;
    text-align: center;
}

.charity-tile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}










.charity-show, .loading {
    max-width: 84vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.charity-show-main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.charity-show-title {
    max-width: 30vw;
    background-color: #eee;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    margin-bottom: 19px;
}

.charity-show-info {
    max-width: 40vw;
    text-align: right;
}

.cause-ul {
    padding-left: 5px;
}

.cause-li {
    margin: 10px 0;
}


.charity-show-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.charity-show-keys {
    display: flex;
}

.info-button {
    margin: 0 10px;
}







.grant-button-container {
    display: flex;
    justify-content: center;
}

.grant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #EEE;
    border-radius: 10px;
}

.grant-tile {
    margin: 10px;
    margin-top: 30px;
    width: 24vw;
    border-top: 1px solid #1ABFA3;
}




@media screen and (max-width: 768px) {
    .charity-show-main {
        flex-direction: column;
    }


    .charity-show-title {
        max-width: 84vw;
    }

    .charity-show-info {
        max-width: 84vw;
    }

    .grant-container {
        flex-direction: column;
        align-items: center;
    }

    .grant-tile {
        width: 54vw;
    }
}